/* #reservations {
  position: relative;
  right: 30px;
  top: 603px;
} */

/* 
Initial Grid layout
*/
body {
  margin: 0;
}

#page {
  display: grid;
  grid-template-areas:  "header"
                        "top"
                        "bottom";
  grid-template-rows:121px 355px 1fr;
  margin: 0 auto;
  width: 990px;
  position: relative;
  top: 106px;
}

#searchBar {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

#red {
  background-color: rgb(211, 35, 35);
  width: 100%;
  height: 64px;
}

#white {
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 41px;
}

#grey {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 372px;
  position: absolute;
  z-index: -1;
  border-bottom: 1px solid rgb(232, 231, 231);
}

#iconBar {
  margin: 0 auto;
  position: relative;
  top: -105px;
  z-index: 2;
  width: 1020px;
}

#searchImg {
  width: 996px;
  height: auto;
}

#root {
  grid-area: header;
}

#top {
  grid-area: top;
  width: 700px;
  display: grid;
  grid-template-areas: "map photos";
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
}

#map {
  grid-area: map;
  margin-left: 44px;
}

#app {
  grid-area: photos;
}

#bottom {
  grid-area: bottom;
  width: 700px;
  display: grid;
  grid-template-areas: "reviews reservations";
  grid-template-columns: minmax(733px, 1fr) minmax(200px, 1fr);
}

#reviews {
  grid-area: reviews;
}

#reservations {
  grid-area: reservations;
}
